body {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
    margin: 0;
  }

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align:left;
  color: black;
}

.page-header{width:100%;min-height:95px;background-color:#fff; border-bottom: 3px solid black;}
.page-header:after{display:table;clear:both}
.page-header.is-fixed{position:fixed;top:0;left:0;z-index:999;-webkit-box-shadow:0 2px 4px 0 #424242;box-shadow:0 2px 4px 0 #424242}
.page-header_inner{max-width:1024px;margin:0 auto}
.page-header_inner:after{display:table;clear:both}
.page-header_logo{float:left;height:50px;width: 300px;margin:25px 0 0 0px;padding:5px 0 0 65px;background:url(images/logo.jpg) 0 center no-repeat;}
.page-header_nav{float:right;margin:25px 55px 0 0;background-color:#fff}
.page-header_nav li{display:inline-block;margin-left:5px}
.nav_link{display:inline-block;font-size:14px;text-transform:uppercase;padding:10px;-webkit-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s;color:#424242}
#nav_home:hover{background-color: #0ca3d2;}
#nav_logout:hover{background-color: red;}

.btn_div{
  margin-left: 150px;
}

button {
  display: inline-block;
  background-color:	#7b38d8;
  border-radius: 10px;
  border: 4px double #a79d9d;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150;
  transition: all 0.6s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #d190d3;
}


.login {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 400px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
  
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
  
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
  
.login p {margin: 20px 0 0;}
  
.login p:first-child {margin-top: 0;}
  
.login input[type=text], .login input[type=password] {width: 278px;}
  
.login p.submit {text-align: right;}
  
:-moz-placeholder {
    color: #c9c9c9;
    font-size: 13px;
}
  
  ::-webkit-input-placeholder {
    color: rgb(134, 127, 127);
    font-size: 13px;
}
  
  input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
  }
  
  input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }
  
  input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
  }

  .create{
    cursor: pointer;
    padding: 5px 15px;
    display: inline-block;
    background-color: green;
    color: white;
  }

  .cancel{
    cursor: pointer;
    padding: 5px 15px;
    display: inline-block;
    background-color: red;
    color: white;
  }
  

/* The Modal */
.modal {
  display: none; 
  position:fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
  overflow-y: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#home{display: none;}


th, td, p, input {
  font:14px Verdana;
}
table, th, td 
{
  border: solid 1px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 79.8vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  #home{display: block; margin-left: 25%;}
}

@media screen and (max-width: 700px) {
  .column {width: 100%;}
  .nav_link{display: none;}
  .page-header_nav{display: none;}
}

@media screen and (max-width:480px){
.page-header{min-height:50px}
.page-header_inner{text-align:center}
.page-header_logo{float:none;position:relative;display:inline-block;margin:20px auto 10px;text-align:left}
.page-header_logo h1{display:block}
.page-header_logo span{display:inline-block}
.column{height: 50vh;}
#btn_div{margin-left: 0;}

}
